extends layout 
block main-content 
  h1.page-title Daily Calorie
  p 
    form(name='form' method='get' action="/dailycalorie")
        label(for='age') Age:
        input#age(type='number' name='age' value='' placeholder='')
        span It must be number. It cannot be negative or bigger than 80
        br
        label(for='gender') Gender:
        input#gender(type='text' name='gender' value='' placeholder='')
        span It must be string.It can only be male or female.
        br
        label(for='height') Height:
        input#height(type='number' name='height' value='' placeholder='')
        span It must be number. It cannot be smaller than 130 or bigger than 230. The unit of height is in cm.
        br
        label(for='weight') Weight:
        input#weight(type='number' name='weight' value='' placeholder='')
        span It must be number. It cannot be smaller than 40 or bigger than 160. The unit of weight is in kg.
        br
        label(for='activitylevel') Activity Level:
        input#activitylevel(type='text' name='activitylevel' value='' placeholder='')
        span There are six possible activity levels:
            div level _ 1 : “Sedentary: little or no exercise”,
            div level _ 2 : “Exercise 1-3 times/week”,
            div level _ 3 : “Exercise 4-5 times/week”, 
            div level _ 4 : “Daily exercise or intense exercise 3-4 times/week”,
            div level _ 5 : “Intense exercise 6-7 times/week”,
            div level _ 6 : “Very intense exercise daily, or physical job”   
        br
        input(type='submit' value='Submit')
        br
    .result
    - if (dailycalorie)
        .calorieresult BMR: #{dailycalorie.BMR}
