extends layout 

block main-content 
  h1.page-title 
  p We&apos;ll help you develop healthy eating habits to complement your workouts.
    - //  this is how we are recieving object  li #{foods}

      li #{foods.description}   #{foods.portion}   #{foods.portionUnit}  

 

          
  



    
    