extends layout 

block main-content 
  //We overwrite the main-content block by writing block content
  //in the template file which is extending.
  h1.page-title 
      section#hero
        #text
          h2 Exercise, Eat And Repeat! 
          p We are dedicated to helping you achieve your fitness goals.
        #img
          img(src= './img/banner2.jpg' alt='lifting weight' width='600' height='400')
      section#services
        .service
          h3 Body Part
          p want to do exercise for specific body part
          a.cta-button(href='/bodypart') Explore Here
        .service
          h3 Target Muscles
          p want to do exercise for specific muscles
          a.cta-button(href='/targetmuscles') Explore Here
        .service
          h3 Equipment
          p want to do exercise with specific equipment
          a.cta-button(href='/equipment') Explore Here
  section#contact
      button(onclick='displayForm()') Contact Us
      form#myForm(style='display:none;' action='/contact' method='POST')
        label(for='name' ) Name
        input#name(type='text' name='name' required='' placeholder='John Doe')
        label(for='email') Email
        input#email(type='email' name='email' required=''  placeholder='john@gmail.ca')
        label(for='message') Message
        textarea#message(name='message' required='' placeholder='write your text here')
        button(type='submit') Send

