body {
  font-family:'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Zilla+Slab:wght@400;700&display=swap');
html {
  box-sizing:border-box;
  font-family: 'Libre Baskerville', serif;
  font-weight:300;
}
*, *::before, *::after {
  box-sizing:inherit;
}
/* Body Styles */
body {
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4 {
  font-family: 'Libre Baskerville', serif;
}

/* 2. LAYOUT */
.flex-container {
  display:flex;
  flex-flow:row wrap;
}
#site-name {
  flex:1 0 0;
  font-family: 'Libre Baskerville', serif;
  font-size: 30px;
  font: azure;
  text-align: center;
  margin-left: 20px ;
}
#site-name a {
  text-decoration: none;
}
#main-navigation {
  flex:4 0 0;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  margin-left: auto;
}
li a {
  text-decoration: none;
}
#main-navigation li {
  display:inline-block;
  margin-right:2em;
}
#header.flex-container {
  align-items:center; /* flex container property to vertically align flex items to the center */
  overflow:visible; /* hide any content that overflows the header */
  position: relative;
}

#header, #footer{
  background-color:#efd9d8;
}
#footer{
 /* padding:1em 1em;*/
  text-align: center;
  font-size: 15px;
}
p{
  margin: 0;
}

a, a:link {
  color: #a50909; /* change text color using the color property */
}
/*a:visited {
  color:#0e0505;
  
}*/
a:hover {
  color:#000000;
}
a:active {
  color:rgb(12, 12, 12);
}

/* Main Styles */
#bannerimg img{
 position: relative;
 right:0px;
}
/* Hero Styles */
#hero {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#hero h2 {
	font-size: 48px;
	margin-bottom: 20px;
  margin-right: 90px;
}

#hero p {
	font-size: 18px;
  margin-right: 40px;
}

/*Button Styles*/
.cta-button, #btn button, #contact button {
  background-color: #efd9d8;
  border: none;
  color: #a50909;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top:15px;
}

.cta-button:hover , #btn button:hover, #contact button:hover, #contact form button:hover {
	background-color: #a50909;
  color:black;
 /* text-transform: uppercase;
  transition: background-color 0.3s ease;*/
}


/* Services Styles */
#services {
	padding: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.service {
	flex-basis: 30%;
	margin-bottom: 50px;
}
.service h3 {
	font-size: 24px;
	margin-bottom: 10px;
}
.service p {
	font-size: 16px;
	line-height: 1.5;
}

.page-title {
  font-size: 2em;
  font-weight: bold;
}
#introduction p {
  font-size: 1.2em;
}
#selection-option label {
  font-weight: bold;
}
#bodypart, #targetmuscles, #equipment, #intensitylevel{
  font-size: 1em;
  padding: 0.5em;
  border-radius: 5px;
}

/* Form Styles*/
form, .service {
  width: 600px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin-bottom:50px;
}

.form-container {
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#result{
  margin-bottom: 160px;
}
label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

input[type='number'] {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

span {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 10px;
  text-align: center;
}

input[type='submit'] {
  background-color: #efd9d8;
  color: #810b0b;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
}

input[type='submit']:hover {
  background-color: #e81f1f;
  color:#000000;
}


/* Page Title Styles */
.page-title {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  padding: 20px;
  text-align: center;
}

/* Content Styles */

.bmi, .activities {
  text-align: center;
  width: 800px;
  margin: 0 auto;
  border: 1px solid #ffffff;
  padding: 20px;
  border-radius: 5px;
}

/* Result Styles */
li {
 /* font-size: 1.2rem;
  margin-top: 20px;
  text-align: center;*/
  font-size: 1em;
  text-decoration: none;
}

/* Contact Form Styles */
#contact {
  background-color: #f7f7f7;
  padding: 15px;
  text-align: center;
}

#contact button
 {
  margin-bottom: 30px;
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  font-weight: bold;
}

#contact form {
  display: inline-block;
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#contact form label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

#contact form input,
#contact form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  resize: none;
}

#contact form button {
  background-color: #d7d1d1;
  color: #000000;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  cursor: pointer;
}

/* Social media Styles */
.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  margin: 5px 10px;
  color: black;
  font-size: 25px;
  transition: color 0.5s;
}
.social-icons a:hover {
  color: #a50909;
}
.hidden {
  display: none;
}
#menu {
  display: block;
}
#menu-toggle {
  display: none;
  margin-left: auto; 
}

/* Styles for screens between 767px and 1200px */
@media (min-width: 767px) and (max-width: 1200px) {
  #site-name {
    font-size: 24px;
  }
  #main-navigation {
    font-size: 18px;
  }
  .service {
    flex-basis: 50%;
  }
}

/*Styles for screens less than 767px*/
@media (max-width: 767px) {
  h1.page-title {
    font-size: 24px;
  }
  #site-name {
    font-size: 20px;
  }
  #main-navigation {
    font-size: 16px;
    margin-left: auto;
  }
  #header.flex-container {
    flex-direction: column;
    align-items:normal;
  }
  #header #site-name {
    margin: 0;
    margin-bottom: 10px;
  }
  #header #main-navigation {
    margin: 0;
  }
  .service {
    flex-basis: 100%;
  }
  #hero {
    flex-direction: column;
    height: auto;
  }
  #hero #text {
    margin-bottom: 20px;
  }
  #hero #img img {
    width: 100%;
  }

  /* Hide the navigation menu by default */
  #menu {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    background-color: #6b1313;
    padding: 1em;
  }

  /* Show the menu toggle button */
  #menu-toggle {
    display: block;
    position: absolute;
    top: 25%;
    right: 5%;
    color: #6b1313;
    font-weight: bold;
  }
  /* Styles for the expanded menu */
  #menu[aria-hidden="false"] {
    display: flex;
    flex-direction: column;
    position: absolute;
    /*position: relative;*/
    top: 34%;
    left: 70%;
    width: 120px;
    background-color: black;
    padding: 1em;
    z-index: 1; /* set a higher z-index value to ensure that the menu appears on top of other elements */
  }

  #menu[aria-hidden="false"] a, a:link {
    color: #ffffff; /* change text color using the color property */
  }
  
  #menu-toggle[aria-expanded="true"] {
    background-color: #ea0c0c;
  }
  #contact form {
    max-width: 100%;
  }
  .form-container, form, .service {
    width: 100%;
    padding: 10px;
  }
  .form-container, form, .service {
    width: 100%;
    padding: 10px;
  }
}

/* Styles for screens less than 400px*/
@media screen and (max-width: 400px) {
  h1.page-title {
    font-size: 18px;
  }
  #contact form {
    padding: 15px;
  }
  
  #contact form input,
  #contact form textarea {
    font-size: 14px;
  }
  
  #contact form button {
    font-size: 16px;
    padding: 10px 20px;
  }
  input[type='submit'] {
    font-size: 1rem;
  }
  
  label {
    font-size: 1rem;
  }
}